.p-a-md{
    padding: 50px;
}

.p-a-lg{
    padding: 100px;    
}

.t-a-r{
    text-align: right;
}

footer{
    padding: 50px 0;
}

.navbar-inverse {
    background-color: #1c3c4e !important;
    border-color: transparent !important;
}

.hero{
    display: table;
    width: 100%;
    height: 100vh;
    background-color: #333;
    background: url('../media/hero.jpg');    
    color: #999;
    text-align: center;
    position: relative;
}

.hero-second{
    display: table;
    width: 100%;
    height: 50vh;
    background-color: #333;
    /* background: url('../media/hero.jpg');     */
    color: #999;
    text-align: center;
    position: relative;
}

.hero-content{
    display: table-cell;
    vertical-align: middle;
}

/* .sc-content{
    z-index: 99;
    position: absolute;
    left: 8%;
    top: 15%;
    color: #fff;
} */

.hero .sc-content{
    /* z-index: 99;
    position: absolute;
    left: 8%;
    top: 35%;
    color: #fff; */
}


.silkscreen{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .7;
}

.section{
    position: relative;
}

.section-1{
    background-color: #f4f4f4;
}

.section-2{
    background-color: #fff;
}

.section-3{
    background-color: #f0caca;
}

.section-4{
    background-color: #fff;
}

.section-5,
.section-7{
    background-color: #fff;
    background: url('../media/hero.jpg');    
    color: #999;
    position: relative;    
}

.section-8 img{
    width: 100%;
    height: auto;
}